
.main {
  position: absolute;
  width: 800px;
  height: 676px;
  top: 0px;
 

}
.image {
 padding-left: 600px;
 height: 10vh;
}

.h2{
position: absolute;
width: 127px;
height: 54px;
left: 880px;
top: 100px;
font-family: "Inter";
font-style: normal;
font-weight: 700;
font-size: 43px;
line-height: 52px;
text-align: center;
color: #212121;
}

.login1{
position: absolute;
width: 32px;
height: 15px;
left: 900px;
top: 200px;
font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: #212121;
opacity: 0.4;
}

.input1 {
position: absolute;
width: 450px;
height: 30px;
left: 900px;
top: 250px;
border: none;
border-bottom: solid 2px grey;
background-color: white;


}
.login2{
position: absolute;
width: 57px;
height: 15px;
left: 900px;
top: 310px;
font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: #212121;
opacity: 0.4;
}

.input2{
position: absolute;
width: 450px;
height: 30px;
left: 900px;
top: 360px;
border: none;
border-bottom: solid 2px grey;
background-color: white;
}
.eye{
margin-left: -30px;
 cursor: pointer;
}
.pass {
position: absolute;
width: 297px;
height: 17px;
left: 900px;
top: 400px;
font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #212121;
opacity: 0.4;
}
.button{
position: absolute;
width: 450px;
height: 50px;
left: 900px;
top: 450px;
background-color: grey;
border-radius: 6px;
border: none;
color: white;
font-family: Inter;
 

}

.link1{
position: absolute;
width: 328px;
height: 34px;
left: 960px;
top: 500px;
font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
text-align: center;
color: #212121;
}
.link2{
position: absolute;
width: 156px;
height: 17px;
left: 1070px;
top: 570px;
font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;
color: #1996fc;
}






